<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:: BikeClub ::</title>
    <script src="../static/js/js.js"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/createClient.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="brand">
              <h2>Bike<span>Club</span> </h2>
            </div>
            <ul class="menu">
              <li><a class="active" href="../index.html">Home</a></li>
              <li><a href="buscarbici.html">Buscar bici</a></li>
              <li><a href="prestarbici.html">Prestar bici</a></li>
              <li><a href="comunity.html">Mi comunidad</a></li>
              <li><a href="invita.html">Invita un amigo</a></li>
            </ul>
          </nav>
    </header>
    <div class="reg-container">
        <div class="register">
            <h2>REGISTRO</h2>
            <form action="">
                <div class="inputgroup">
                    <input type="text" placeholder="Nombre" id="name">
                    <input type="email" placeholder="Correo Electronico" id="email">
                </div>
                <div class="inputgroup">
                    <input type="password" placeholder="Contraseña" id="password">
                    <input type="text" placeholder="Telefono Celular" id="cellPhone">
                </div>
                <div class="inputgroup">
                    <select name="idtype" id="idtype">
                        <option value="Tipo de Documento">Tipo de documento</option>
                        <option value="cedula">Cedula de Ciudadanía</option>
                        <option value="tarjeta">Tarjeta de Identidad</option>
                        <option value="pasaporte">Pasaporte</option>
                    </select>
                    <input type="number" placeholder="Numero de Documento" id="identification">
                </div>
                <div class="inputgroup">
                    <select name="city" id="city">
                        <option value="city">Ciudad</option>
                        <option value="cedula">Bogotá</option>
                        <option value="tarjeta">Medellin</option>
                        <option value="pasaporte">Barranquilla</option>
                    </select>
                    <select name="location" id="location">
                        <option value="location">Localidad</option>
                        <option value="cedula">Suba</option>
                        <option value="tarjeta">Teusaquillo</option>
                        <option value="pasaporte">Chapinero</option>
                    </select>
                    
                </div>
                <div class="inputgroup">
                    <select name="neighborhood" id="neighborhood">
                        <option value="barrio">Barrio</option>
                        <option value="cedula">Cedula de Ciudadanía</option>
                        <option value="tarjeta">Tarjeta de Identidad</option>
                        <option value="pasaporte">Pasaporte</option>
                    </select>
                    <input type="text" placeholder="Direccion" id="address">
                </div>
                <div class="inputgroup">
                    <input type="text" placeholder="facebook" id="facebook">
                    <input type="text" placeholder="twitter" id="twitter" class="twitter">
                </div>
                <div class="inputgroup">
                    <input type="text" placeholder="google" id="google" class="google">
                    <input type="text" placeholder="instagram" id="instagram" class="instagram">
                </div>
                <form enctype="multipart/form-data" action="uploader.php" method="POST">
                    <input name="uploadedfile" type="file" />
                    <input type="submit" value="Subir archivo" />
                </form>
                <input style="opacity:1;" type="checkbox" class= "checkbox" data-required="1" name="terminos"><p style="color:black;padding-left:20px;">Aceptar los <a style="color:blue;" href="#">Términos y Condiciones</a></p>
                <button class="btn btn-primary" onclick="registrar();">Registrar</button>
            </form>        
      </div>
    </div>
    <footer class="contenedor">
        <div class="redes-sociales">
            <div class="contenedor-icono">
                <a href="http://www.twitter.com/falconmasters" target="_blank" class="twitter">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <div class="contenedor-icono">
                <a href="http://www.facebook.com/falconmasters" target="_blank" class="facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="contenedor-icono">
                <a href="http://www.instagram.com" target="_blank" class="instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </footer>
    
</body>

